<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="font/bootstrap-icons.css" type="text/css">
</head>
<body>
    <nav class="navbar navbar-light bg-light px-3">
        <a class="navbar-brand text-primary" href="/">Express Bank</a>
        <div class="navbar-text d-flex flex-column text-end">
            <span>
                Welcome, <%= name %>
            </span>
            <span>
                Account Number: <%= accountNumber %>
            </span>
        </div>
    </nav>
    <div class="d-flex justify-content-between">
        <h1 class="m-3">Change Password</h1>
        <div class="d-flex align-items-center p-3 gap-3">
            <a href="/profile"><button class="btn btn-primary">View Profile</button></a>
            <a href="/"><button class="btn btn-outline-secondary">Logout</button></a>
        </div>
    </div>
    <div class="container-fluid px-0">
        <div class="rounded d-flex justify-content-center gap-5">
            <div class="p-3 shadow-lg bg-light" style="width: 500px;">
                <div class="d-flex justify-content-center mt-3">
                    <form action="/change-password" method="post">
                        <div class="container p-0" style="width: 300px;">
                            <form action="/change-password" method="post">
                                <label for="currentPassword" class="mt-3">Current password</label>
                                <input type="password" id="currentPassword" class="form-control" autofocus="autofocus" placeholder="Enter current password" required>
                                <label for="newPassword1" class="mt-3">Enter new password</label>
                                <input type="password" id="newPassword1" class="form-control" autofocus="autofocus" placeholder="Enter new password" required>
                                <label for="newPassword2" class="mt-3">Re-enter new password</label>
                                <input type="password" id="newPassword2" class="form-control" autofocus="autofocus" placeholder="Re-enter new password" required>
                                <input type="hidden" id="currentPasswordHash" name="currentPasswordHash">
                                <input type="hidden" id="currentPasswordSalt" name="currentPasswordSalt">
                                <input type="hidden" id="newPasswordHash" name="newPasswordHash">
                                <input type="hidden" id="newPasswordSalt" name="newPasswordSalt">
                                <p id="message" class="text-danger mt-3">
                                    PROBLEM MESSAGE HERE
                                </p>
                                <div class="text-end">
                                    <button class="btn btn-primary mt-3" type="submit">Change password</button>
                                </div>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="rounded d-flex justify-content-center mt-4">
        <button type="button" class="btn btn-primary" onclick="window.location.href='/accounts'">Return to accounts</button>
    </div>
</body>
</html>